In [44]:
import pandas as pd
import edhec_risk as erk
import numpy as np
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [50]:
returns = erk.get_ffme_returns()

In [51]:
returns.tail()

         SmallCap  LargeCap
2018-08    0.0309    0.0249
2018-09   -0.0204    0.0019
2018-10   -0.1052   -0.0741
2018-11   -0.0278    0.0249
2018-12   -0.1477   -0.0921

In [52]:
returns.head()

         SmallCap  LargeCap
1926-07   -0.0057    0.0333
1926-08    0.0384    0.0233
1926-09   -0.0048   -0.0009
1926-10   -0.0329   -0.0295
1926-11   -0.0055    0.0316

In [55]:
n_months = returns.shape[0]
annualized_return = (returns+1).prod()**(12/n_months) - 1

In [56]:
annualized_return

SmallCap    0.151977
LargeCap    0.098490
dtype: float64

In [57]:
annualized_vol = returns.std()*np.sqrt(12)
annualized_vol

SmallCap    0.336701
LargeCap    0.195116
dtype: float64

In [58]:
n_months = returns['1999':'2015'].shape[0]
annualized_return = (returns['1999':'2015']+1).prod()**(12/n_months) - 1
annualized_return

SmallCap    0.114426
LargeCap    0.062865
dtype: float64

In [59]:
annualized_vol = returns['1999':'2015'].std()*np.sqrt(12)
annualized_vol

SmallCap    0.228894
LargeCap    0.172713
dtype: float64

In [79]:
SmallCap = erk.drawdown(returns['SmallCap']['1999':'2015'])
drawdown = (SmallCap['Wealth'] - SmallCap['Previous Peak'])/SmallCap['Previous Peak']
drawdown.min()

-0.6248092431236988

In [80]:
drawdown.idxmin()

Period('2009-02', 'M')

In [81]:
LargeCap = erk.drawdown(returns['LargeCap']['1999':'2015'])
drawdown = (LargeCap['Wealth'] - LargeCap['Previous Peak'])/LargeCap['Previous Peak']
drawdown.min()

-0.5527349978713653

In [82]:
drawdown.idxmin()

Period('2009-02', 'M')

In [87]:
hfi = erk.get_hfi_returns()
hfi['2009':]

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07,0.0021,-0.0058,0.0093,0.0040,-0.0010,0.0055,0.0022,-0.0014,0.0067,-0.0021,0.0045,-0.0052,0.0018
2018-08,0.0024,0.0166,0.0002,-0.0277,0.0004,0.0011,0.0017,-0.0007,0.0035,0.0050,-0.0002,-0.0214,0.0015
2018-09,0.0034,-0.0054,0.0050,-0.0110,-0.0016,0.0032,0.0036,0.0006,-0.0023,0.0028,0.0018,0.0036,-0.0022
2018-10,-0.0073,-0.0314,-0.0158,-0.0315,-0.0129,-0.0257,-0.0023,-0.0096,-0.0402,-0.0080,-0.0109,0.0237,-0.0269
2018-11,-0.0068,-0.0053,-0.0193,0.0120,-0.0211,-0.0034,-0.0067,-0.0087,-0.0044,0.0119,-0.0063,-0.0021,-0.0071

In [94]:
erk.semideviation3(hfi['2009':]).idxmax()

'Short Selling'

In [92]:
erk.semideviation3(hfi['2009':]).idxmin()

'Fixed Income Arbitrage'

In [95]:
erk.skewness(hfi['2009':]).idxmin()

'Equity Market Neutral'

In [99]:
erk.kurtosis(hfi['2000':]).idxmax()

'Fixed Income Arbitrage'